body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
}

.section-content {
    margin: 0px 200px 100px 250px;
}

/* SECTION ONE */
.one {
    background-color: #1f2937;
    color: white;
}

.header-section {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
}

.header-info h1 {
    font-size: 60px;
}

.header-info p {
    color: #E5E7EB;
}

.signup {
    padding: 6px 20px;
    color: white;
    font-weight: 600;
    background-color: #3882F6;
    border-radius: 6px;
    border: none;
}

.header-info, .header-image {
    flex: 1;
}

.header-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7c7c7c;
    width: auto;
    height: auto;
    text-align: center;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

/* SECTION TWO */
.random-info {
    display: flex;
    justify-content: center;
}

.cards {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.card {
    display: flex;
    flex-direction: column;
}

.border {
    flex: 0 0 1;
    border: solid 6px #3882F6;
    border-radius: 20px;
    height: 150px;
    width: 150px;
}

.card-text {
    text-align: center;
    flex-wrap: wrap;
}

/* SECTION THREE */
.three {
    background-color: #E5E7EB;
}

/* SECTION FOUR */

/* FOOTER */
.footer {
    background-color: #1f2937;
    color: white;
}