body 
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.section {
    display: flex;
    padding: 32px;
}

.one {
    background-color: #1F2937;
    color: #F9FAF8;
}

.text-container h1 {
    font-size: 48px;
    font-weight: 800;
}

.text-container p {
    font-size: 18px;
    color: #E5E7EB;
}

.three {
    background-color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    color: white;
}