body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.container {
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
}

.section-content {
    height: auto;
    width: auto;
    margin: 100px 250px;
}

/* SECTION ONE */
.one {
    background-color: #1f2937;
    color: white;
}

.header-section {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin: 0px 250px;
}

.header-content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-info {
    align-items: center;
}

.header-info h1 {
    margin: 0;
    font-size: 60px;
}

.header-info p {
    color: #E5E7EB;
}

.signup {
    padding: 6px 20px;
    color: white;
    font-weight: 600;
    background-color: #3882F6;
    border-radius: 6px;
    border: none;
}

.header-info, .header-image {
    flex: 1;
}

.header-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

/* SECTION TWO */
.random-info {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.card {
    flex: 0 0 0;
    display: flex;
    flex-direction: column;
}

.card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    border: solid 6px #3882F6;
}

.image-container {
    flex: 0 0 1;
    height: 150px;
    width: 150px;
}

.card-text {
    text-align: center;
}

/* SECTION THREE */
.three {
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    flex-direction: column;
    margin: 0 200px;
}

.message {
    font-size: 32px;
}

.author {
    text-align: end;
    font-weight: 600;
    font-size: 22px;
}

/* SECTION FOUR */
.call-to-action-box {
    margin: 0 200px;
    padding: 50px;
    background-color: #3882F6;
    border-radius: 6px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.call-to-action-header {
    font-size: 24px;
    font-weight: 600;
}

.call-to-action-signup {
    border: white 2px solid;
    border-radius: 6px;
    color: white;
    background-color: #3882F6;
    padding: 8px 24px;
    font-weight: 600;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    background-color: #1f2937;
    color: white;
}